/*animaciones*/
.efecto-fade-in {
	visibility: hidden;
}

.fade-in-animation{
	visibility: visible;
	animation: fadeIn linear 0.7s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
}

@keyframes fadeIn{
	0% {
		opacity:0;
		transform:  scaleX(0.50) scaleY(0.50) ;
	}
	100% {
		opacity:1;
		transform:  scaleX(1.00) scaleY(1.00) ;
	}
}


.efecto-slide-left {
	visibility: hidden;
}

.slide-left-animation{
	visibility: visible;
	animation: slideLeft linear 0.5s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
}

@keyframes slideLeft{
	0% {
		transform:  translate(-200px,0px)  ;
	}
	100% {
		transform:  translate(0px,0px)  ;
	}
}


.efecto-slide-right {
	visibility: hidden;
}

.slide-right-animation{
	visibility: visible;
	animation: slideRight linear 0.5s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
}

@keyframes slideRight {
	0% {
		transform:  translate(200px,0px)  ;
	}
	100% {
		transform:  translate(0px,0px)  ;
	}
}
